{{ define "main"}}

<div class="container justify-flex" style="max-width:800px">
  <div class="row">
    <div class="col mt-3">
      <h1 class="fw-bold"> 도시의 시적 지도</h1>
      <h3 class="fw-light"> Poetic Map Project</h3>
      <br>
      <p class="fs-7" style="text-indent:0.5rem">
        도시의 시적 지도는 아이모멘트가 탐색한 도시의 공간, 시간, 그리고 그
        사이의 틈을 공유하는 온라인/미디어 자리입니다.<br>
      <p>
      <p class="fs-7" style="text-indent:0.5rem">
        Poetic Map Project is a platform inviting audiences to explore the urban spaces,
        times and all gaps in-between them in the online/digital spaces.
        <br>
      </p>


      <a href="maplist.html">
        <button type="button" class="btn btn-outline-dark btn-lg btn-block rounded-0 w-100" style="margin: 0.5rem 0;">
          Map</button>
      </a>

      <a href="locationlist.html">
        <button type="button" class="btn btn-outline-dark btn-lg btn-block rounded-0 w-100" style="margin: 0.5rem 0;">
          Location</button>
      </a>

      <a href="keywordlist.html">
        <button type="button" class="btn btn-outline-dark btn-lg btn-block rounded-0 w-100"
          style="margin: 0.5rem 0;">#Keyword</button>
      </a>





    </div>

  </div>
</div>


</div>



{{/*
{{ partialCached "head/js.html" . }}*/}}

{{ end }}