<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <header>
    <!-- 상단에 타이틀이 Poetic Map Project로 고정되게 하기 위해 별도로 부름, navgar 없애기 위해 삭제 -->
    {{/* {{ partial "header/poetic-header.html" . }} */}}
  </header>
  <main>{{ block "main" . }}{{ end }}</main>
  <footer>
    {{ partial "footer.html" . }} {{ partial "script-footer.html" . }}
  </footer>
</body>

</html>