{{ define "main"}}
<div class="container justify-flex">
  <div class="row">
    <div class="col">
      <br>
      <a href=' {{"poetic" | relURL }} '>
        <img src="poetic-map-project-thumbnail.jpg" class="img-fluid">
        {{/*<div class="card border-0 mb-3" style="max-width:100%; height: auto; object-fit:cover;
         background-image: url('poetic-map-project-thumbnail.jpg'); ">
          <div class="card-header mt-2">
            <h1 style="font-family: 'Anton', sans-serif; "> Poetic Map Project</h1>
          </div>
        </div>*/}}
      </a>

      {{ .Content }}
    </div>
  </div>
</div>

{{ end }}