{{ define "main"}}
<div class="container justify-flex">
  <div class="row">
    <div class="col">
      <br>
      <a href=' {{"poetic" | relURL }} '>
        <div class="card text-bg-dark border-0 mb-3" style="height:500px; 
         background-image: url('poetic-map-project-thumbnail.jpg'); background-size: cover;">
          {{/* <div class="card-header mt-2">
            <h1 style="font-family: 'Anton', sans-serif; "> Poetic Map Project</h1>
          </div> */}}
        </div>
      </a>

      {{ .Content }}
    </div>
  </div>
</div>

{{ end }}